<% if flash[:destroy] %>
<p class="notice"><%= flash[:destroy] %></p>
<% end %>

<h1>Books</h1>
<table>
  <tr>
    <th>title</th>
    <th>body</th>
  </tr>
  <% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td class="btn"><%= link_to "Show" ,book_path(book) %></td>
    <td class="btn"><%= link_to "Edit" ,edit_book_path(book) %></td>
    <td class="btn"><%= link_to "Destroy" ,book_path(book) ,method: :delete ,"data-confirm"=>"削除しますか？" %></td>
  </tr>
  <% end %>
</table>

<% if @book.errors.any? %>
    <div class="error">
        <div class="error_message">
            <%= @book.errors.count %>errors prohibited this book from being saved
        </div>
        <div class="error_box">
            <% @book.errors.full_messages.each do |message| %>
            <p>・<span><%= message %></span></p>
        <% end %>
        </div>
    </div>
<% end %>

<h1>New book</h1>
<%= form_with model:@book,url:"/books",local:true do |f| %>

<div class="field">
  <p>Title</p>
  <p><%= f.text_field:title %></p>
</div>
<div class="field">
  <p>Body</p>
  <p><%= f.text_area:body %></p>
</div>
<div class="field">
  <p><%= f.submit "Create Book" %></p>
</div>
<% end %>